version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    pull_policy: build      
    container_name: reinvent-quiz-app
    ports:
      - "30401:80"
    restart: always
    environment:
      - NODE_ENV=production
